.add-list {
  &__popup {
    width: 235px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    position: relative;
    transition: all 2s;
    top: -25px;
    &-close-btn {
      cursor: pointer;
      position: absolute;
      top: -8px;
      right: -8px;
    }
    &-colors {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
    }
  }
  button {
    width: 100%;
    margin-top: 15px;
  }
  .badge {
    width: 20px;
    height: 20px;
    position: static;
    border: 2px solid transparent;
    cursor: pointer;
    &.active {
      border: 2px solid #525252;
    }
  }
}
