* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: 100%;
    padding: 60px 10px;
  }
  &__tasks {
    flex: 1;
    padding: 60px;
  }
}

.field {
  width: 200px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;

  &:focus {
    border-color: #dbdada;
  }
}
.button {
  cursor: pointer;
  height: 37px;
  background: #4dd599;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.15px;
  border: none;
  color: #ffffff;
  &:hover {
    background: darken($color: #4dd599, $amount: 6%);
  }
  &:active {
    background: darken($color: #4dd599, $amount: 10%);
  }
}
